.characterCard {
  background: #045b9b url("./person.svg") no-repeat left top;
  background-size: 160px 160px;
  width: 160px; height: 160px;
  cursor: pointer;
  margin: 0 16px 25px 15px;
}

.characterCard:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.charImage {
  width: 160px; height: 160px;
  position: absolute;
}

.labelContainer {
  position: relative;
}

.label {
  position: absolute;
  padding: 5px 10px;
  width: 160px;
  text-align: center;
  font-size: 15px;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  bottom: -160px;
  box-sizing: border-box;
}